@model DiamondQuranWeb.Models.BookmarksViewModel
@{
    ViewBag.Title = "Bookmark";
}

<ul class="nav nav-tabs" id="myTab" role="tablist" style="">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">المفضلة</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">التعليقات</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div style="margin:0 auto; max-width:700px">
            <p class="logicsHeader">قوائم المفضلة</p>
            <table style="width:100%">
                @foreach (var favorite in Model.FavoritesList)
                {
                    <tr id="favRow-@(favorite.ID)">
                        <td style="width:1%;white-space:nowrap;">
                            @using (Ajax.BeginForm("DeleteFavoriteList", "Account", new { favoriteId = favorite.ID }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "deleteFavoriteList" }, new { @style = "display:inline-flex; align-items: center" }))
                            {
                                <button class="btn btn-primary" type="submit" style="display:inline-flex; align-items: center" onclick="deleteFavoriteListClicked(@(favorite.ID))">
                                    مسح
                                    <span id="deleteSpinner-@(favorite.ID)" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none"></span>
                                </button>
                            }
                        </td>
                        <td style="width:1%;white-space:nowrap;">
                            <button id="editFavoriteBtn-@(favorite.ID)" class="btn btn-primary" type="button" style="display:inline-flex; align-items: center" onclick="editFavoriteList(@(favorite.ID))">
                                تعديل
                                <span id="editSpinner-@(favorite.ID)" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="visibility:hidden"></span>
                            </button>
                        </td>
                        <td>
                            <i id="successIcon-@(favorite.ID)" style="display:inline-flex; align-items: center"></i>
                        </td>
                        <td>
                            <div>
                                <a id="listNameAnchor-@(favorite.ID)" href="~/Account/Favorites?favoriteListId=@(favorite.ID)" style="float:right">
                                    @(favorite.ListName)
                                </a>
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    @using (Html.BeginForm())
                    {
                        <td colspan="2">
                            <div style="display:flex; justify-content:center">
                                <button class="btn btn-primary" type="submit" style="display:inline-flex; align-items: center;">
                                    اضافة قائمة
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none"></span>
                                </button>
                            </div>
                        </td>
                        <td></td>
                        <td>
                            @Html.TextBoxFor(x => x.FavoriteList, null, new { @style = "float:right" })
                        </td>
                    }
                </tr>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div style="margin:0 auto; max-width:700px">
            <p class="logicsHeader">التعليقات</p>
            @foreach (var comment in Model.Comments)
            {
                <div id="block-@(comment.ID)" class="row">
                    <div class="col-6">
                        @using (Ajax.BeginForm("DeleteComment", "Account", new { commentId = comment.ID }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "deleteComment" }, new { @style = "display:inline-flex; align-items: center" }))
                        {
                            <button class="btn btn-primary" type="submit" style="display:inline-flex; align-items: center" onclick="deleteCommentClicked('@(comment.ID)')">
                                مسح
                                <span id="deleteCommentSpinner-@(comment.ID)" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="visibility:hidden"></span>
                            </button>
                        }
                        <button id="editCommentBtn-@(comment.ID)" class="btn btn-primary" type="button" style="display:inline-flex; align-items: center" onclick="editComment('@(comment.ID)')">
                            تعديل
                            <span id="editCommentSpinner-@(comment.ID)" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="visibility:hidden"></span>
                        </button>
                        <i id="commentEditSuccessIcon-@(comment.ID)" style="display:inline-flex; align-items: center"></i>
                    </div>
                    <div class="col-6">
                        <p id="comment-@(comment.ID)" style="padding:0">@comment.Comment.Trim()</p>
                    </div>
                </div>
                
            }
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function deleteComment(data) {
            $('#deleteCommentSpinner-' + data.commentId).css('visibility', 'hidden');
            if (data.success) {
                $('#block-' + data.commentId).remove()
            }
            else {
                $('#successIcon-' + data.commentId).addClass('fas fa-times');
            }
        }

        let comment;
        function editComment(id) {
            $("#editCommentBtn-" + id).attr('disabled', 'disabled');
            comment = document.getElementById('comment-' + id).innerText.trim();
            var textareaAttrs = { "id": `commentTextarea-${id}`, "class": "commentTextarea", "value": comment, "style": "float:right" };
            $("#comment-" + id).replaceWith(function () {
                return $(`<textarea>`, textareaAttrs).append($(this).contents());
            });
            //setTimeout(function () {
            //    $("#commentTextarea-" + id).focus();
            //}, 0);
            $("#commentTextarea-" + id).focus();
        }

        $(document).on('focusout', '.commentTextarea', function (e) {
            let id = e.target.id.split('-')[1];
            let textarea = "#" + e.target.id;
            if ($(this).val() != comment && !isNullOrWhitespace($(this).val())) {
                let newComment = $(this).val();
                $(textarea).attr('disabled', 'disabled');
                $('#editCommentSpinner-' + id).css('visibility', 'visible');
                $.ajax({
                    url: "/Account/EditComment",
                    type: "POST",
                    dataType: "json",
                    data: { commentId: id, comment: newComment },
                    success: function (data) {
                        $("#editCommentBtn-" + id).removeAttr('disabled');
                        $('#editCommentSpinner-' + id).css('visibility', 'hidden');
                        if (data.success) {
                            $('#commentEditSuccessIcon-' + id).addClass('fas fa-check');
                            $(textarea).removeAttr('disabled');
                            $(textarea).replaceWith(`<p id="comment-${id}">${newComment}</p>`);
                        }
                        else {
                            $('#commentEditSuccessIcon-' + id).addClass('fas fa-times');
                            $(textarea).removeAttr('disabled');
                            $(textarea).replaceWith(`<p id="comment-${id}">${comment}</p>`);
                        }
                    }
                });
            }
            else {
                $("#editCommentBtn-" + id).removeAttr('disabled');
                $(this).replaceWith(`<p id="comment-${id}">${comment}</p>`);
            }
        });

        function deleteCommentClicked(id) {
            $('#deleteCommentSpinner-' + id).css('visibility', 'visible');
        }
        function deleteFavoriteListClicked(id) {
            $('#deleteSpinner-' + id).css('display', 'inline-block');
        }
        function deleteFavoriteList(data) {
            $('#deleteSpinner-' + data.favoriteId).css('display', 'none');
            if (data.success) {
                $('#favRow-' + data.favoriteId).remove()
            }
            else {
                $('#successIcon-' + data.favoriteId).addClass('fas fa-times');
            }
        }

        let listName;
        function editFavoriteList(id) {
            $("#editFavoriteBtn-" + id).attr('disabled', 'disabled');
            listName = document.getElementById('listNameAnchor-' + id).innerText;
            var inputAttrs = { "id": `listNameInput-${id}`, "class": "favoriteInput", "type": "text", "value": listName, "style": "float:right" };
            $("#listNameAnchor-" + id).replaceWith(function () {
                return $(`<input />`, inputAttrs).append($(this).contents());
            });
            $("#listNameInput-" + id).focus();
        }
        $(document).on('focusout', '.favoriteInput', function (e) {
            let id = e.target.id.split('-')[1];
            let inputId = "#" + e.target.id;
            let anchor = `<a id="listNameAnchor-${id}" href="/Account/Favorites?favoriteListId=${id}" style="float:right">${listName}</a>`
            if ($(this).val() != listName) {
                let newListName = $(this).val();
                $(inputId).attr('disabled', 'disabled');
                $('#editSpinner-' + id).css('visibility', 'visible');
                $.ajax({
                    url: "/Account/EditFavoriteList",
                    type: "POST",
                    dataType: "json",//TODO add error response .
                    data: { favoriteId: id, listName: newListName },
                    success: function (data) {
                        $("#editFavoriteBtn-" + id).removeAttr('disabled');
                        $('#editSpinner-' + id).css('visibility', 'hidden');
                        if (data.success) {
                            $('#successIcon-' + id).addClass('fas fa-check');
                            $(inputId).removeAttr('disabled');
                            $(inputId).replaceWith(`<a id="listNameAnchor-${id}" href="/Account/Favorites?favoriteListId=${id}" style="float:right">${newListName}</a>`);
                        }
                        else {
                            $('#successIcon-' + data.favoriteId).addClass('fas fa-times');
                            $(inputId).replaceWith(anchor);
                        }
                    }
                });
            }
            else {
                //let anchorAttribute = { "id": `listNameAnchor-${id}`, "href": `/Account/Favorites?favoriteListId=${id}`, "style": "float:right", "value": `${listName}` };
                $("#editFavoriteBtn-" + id).removeAttr('disabled');
                $(this).replaceWith(anchor);
            }
        });
    </script>
}