@using DiamondQuranWeb.Helpers
@using DiamondQuranWeb.Views.Shared
@model DiamondQuranWeb.Models.QuranViewModel

@{
    ViewData["Title"] = "القران الكريم" + " - " + Constants.AppName;
}

<div id="radialMenu" class="centered">
</div>
<div>
    <component type="typeof(QuranPaging)" render-mode="ServerPrerendered" param-QuranIndex="@Model.QuranIndex" param-CurrentDomain="@Model.CurrentDomain"
               param-currentSurah="@Model.SurahNumber"
               param-currentAyah="@Model.AyahNumber" param-NavBySearch="@Model.NavBySearch" />
</div>
<script>
    function CleanUrl() {
        window.history.replaceState({}, document.title, "/" + "Quran");
    }
</script>
@section scripts{
<script src="_framework/blazor.server.js"></script>
<script>
    Blazor.defaultReconnectionHandler._reconnectCallback = function(d) {
         document.location.reload();
    }
</script>
<link rel="stylesheet" href="~/lib/radialmenu/RadialMenu.css">
<link rel="stylesheet" href="~/lib/radialmenu/main.css">
<script src="~/lib/radialmenu/RadialMenu.js"></script>
<script src="~/lib/radialmenu/main.js"></script>
<script type="text/javascript" src="~/js/versesListView.js"></script>
<script>
        function openMenu(id) {
            verseId= id;
        $("#radialMenu").css("z-index", "1");
        svgMenu.open();
    }
</script>
}
<svg id="icons">
    <symbol id="copy" viewBox="-21 0 512 512">
        <path d="m325.332031 512h-266.664062c-32.363281 0-58.667969-26.304688-58.667969-58.667969v-288c0-32.363281 26.304688-58.664062 58.667969-58.664062h10.664062c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16h-10.664062c-14.699219 0-26.667969 11.964843-26.667969 26.664062v288c0 14.699219 11.96875 26.667969 26.667969 26.667969h266.664062c14.699219 0 26.667969-11.96875 26.667969-26.667969v-10.664062c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v10.664062c0 32.363281-26.304688 58.667969-58.667969 58.667969zm0 0" /><path d="m410.667969 384h-224c-32.363281 0-58.667969-26.304688-58.667969-58.667969v-266.664062c0-32.363281 26.304688-58.667969 58.667969-58.667969h224c32.363281 0 58.664062 26.304688 58.664062 58.667969v266.664062c0 32.363281-26.300781 58.667969-58.664062 58.667969zm-224-352c-14.699219 0-26.667969 11.96875-26.667969 26.667969v266.664062c0 14.699219 11.96875 26.667969 26.667969 26.667969h224c14.699219 0 26.664062-11.96875 26.664062-26.667969v-266.664062c0-14.699219-11.964843-26.667969-26.664062-26.667969zm0 0" />
    </symbol>
    <symbol id="tafsirIcon" viewBox="0 0 512 512">
        <g><path d="m485.341 437.426h-13.18c-9.144-21.726-9.148-42.925-.01-64.542h13.19c14.7 0 26.659-11.959 26.659-26.66 0-14.7-11.959-26.66-26.659-26.66h-53.038c6.751-7.712 10.855-17.795 10.855-28.826v-83.53c0-24.166-19.659-43.826-43.824-43.826h-21.567c1.83-3.648 2.866-7.761 2.866-12.113 0-14.967-12.162-27.144-27.112-27.144h-7.419c-6.621-16.367-6.625-32.353-.011-48.615h7.43c14.95 0 27.112-12.177 27.112-27.144 0-14.95-12.162-27.113-27.112-27.113h-253.003c-43.328 0-78.578 35.237-78.578 78.549 0 20.946 8.186 40.667 23.048 55.53 2.955 2.955 6.109 5.634 9.419 8.049h-5.808c-14.7 0-26.659 11.959-26.659 26.66s11.959 26.66 26.659 26.66h13.19c9.138 21.615 9.135 42.815-.01 64.541h-13.18c-14.7 0-26.659 11.959-26.659 26.66 0 5.624 1.755 10.843 4.739 15.148-15.668 6.685-26.679 22.249-26.679 40.34v83.531c0 24.166 19.646 43.825 43.794 43.825h441.546c14.7 0 26.659-11.959 26.659-26.66.001-14.7-11.958-26.66-26.658-26.66zm0-102.862c6.429 0 11.659 5.231 11.659 11.66s-5.23 11.66-11.659 11.66h-135.357c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h106.078c-2.931 8.232-4.723 16.496-5.4 24.771 0 0-2.996 14.845 5.416 39.771h-400.588c-1.176 0-2.17-.994-2.17-2.171v-60.2c0-1.176.994-2.17 2.17-2.17h74.301l.005 24.632c-.473 7.374 3.128 10.28 5.339 11.36 2.241 1.096 6.845 2.157 12.51-3.021.039-.036.078-.072.116-.108l20.964-19.995 20.964 19.995c.038.037.077.073.116.108 3.316 3.031 6.268 3.926 8.599 3.926 1.665 0 3.013-.457 3.949-.918 2.214-1.09 5.81-4.01 5.301-11.367l.01-24.612h105.392c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-105.387l.01-23.32h277.662zm-402.059-93.09c-.676-8.275-2.503-16.538-5.432-24.771h309.82c1.177 0 2.171.994 2.171 2.17v60.2c0 1.176-.994 2.17-2.171 2.17h-179.969l.01-24.771h52.489c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-176.918zm46.49 39.77h-51.939c2.927-8.244 4.757-16.507 5.441-24.771h46.493zm62.939-24.77-.054 131.376-18.757-17.89c-2.897-2.764-7.455-2.764-10.353 0l-18.754 17.888-.027-131.375h47.945zm-155.771-156.671c0-35.041 28.521-63.549 63.578-63.549h253.003c6.679 0 12.112 5.434 12.112 12.113 0 6.696-5.434 12.144-12.112 12.144h-138.258c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h114.847c-5.294 16.134-5.287 32.411.02 48.615h-229.612c-6.45 0-12.557-2.541-17.167-7.128-4.614-4.638-7.155-10.744-7.155-17.195 0-13.395 10.911-24.292 24.322-24.292h77.817c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-77.817c-21.682 0-39.322 17.626-39.322 39.292 0 10.443 4.092 20.307 11.548 27.801 7.468 7.43 17.331 11.522 27.774 11.522h253.003c6.679 0 12.112 5.448 12.112 12.144 0 6.679-5.434 12.113-12.112 12.113h-253.003c-16.939 0-32.893-6.625-44.923-18.656-12.03-12.03-18.655-27.984-18.655-44.924zm11.659 101.9c-6.429 0-11.659-5.23-11.659-11.66 0-6.429 5.23-11.66 11.659-11.66h350.735c15.894 0 28.824 12.931 28.824 28.826v83.53c0 15.895-12.931 28.826-28.824 28.826h-191.649l.01-23.32h179.974c9.468 0 17.171-7.703 17.171-17.17v-60.2c0-9.468-7.703-17.17-17.171-17.17h-339.07zm0 94.541h81.176l.005 23.32h-81.18c-6.429 0-11.659-5.231-11.659-11.66-.001-6.429 5.229-11.66 11.658-11.66zm436.742 179.502h-441.547c-15.877 0-28.794-12.931-28.794-28.825v-83.531c0-15.895 12.917-28.826 28.794-28.826h85.988l.005 23.32h-74.297c-9.468 0-17.17 7.703-17.17 17.17v60.2c0 9.468 7.703 17.171 17.17 17.171h429.851c6.429 0 11.659 5.231 11.659 11.66s-5.23 11.661-11.659 11.661z" /></g>
    </symbol>
    <symbol id="comment" viewBox="0 0 612 612">
        <g>
            <g>
                <g>
                    <path d="M401.625,325.125h-191.25c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h191.25
				c10.557,0,19.125-8.568,19.125-19.125S412.182,325.125,401.625,325.125z M439.875,210.375h-267.75
				c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h267.75c10.557,0,19.125-8.568,19.125-19.125
				S450.432,210.375,439.875,210.375z M306,0C137.012,0,0,119.875,0,267.75c0,84.514,44.848,159.751,114.75,208.826V612
				l134.047-81.339c18.552,3.061,37.638,4.839,57.203,4.839c169.008,0,306-119.875,306-267.75C612,119.875,475.008,0,306,0z
				 M306,497.25c-22.338,0-43.911-2.601-64.643-7.019l-90.041,54.123l1.205-88.701C83.5,414.133,38.25,345.513,38.25,267.75
				c0-126.741,119.875-229.5,267.75-229.5c147.875,0,267.75,102.759,267.75,229.5S453.875,497.25,306,497.25z" />
                </g>
            </g>
        </g>
    </symbol>
    <symbol id="favorite" viewBox="0 -10 511.98685 511">
        <path d="m114.59375 491.140625c-5.609375 0-11.179688-1.75-15.933594-5.1875-8.855468-6.417969-12.992187-17.449219-10.582031-28.09375l32.9375-145.089844-111.703125-97.960937c-8.210938-7.167969-11.347656-18.519532-7.976562-28.90625 3.371093-10.367188 12.542968-17.707032 23.402343-18.710938l147.796875-13.417968 58.433594-136.746094c4.308594-10.046875 14.121094-16.535156 25.023438-16.535156 10.902343 0 20.714843 6.488281 25.023437 16.511718l58.433594 136.769532 147.773437 13.417968c10.882813.980469 20.054688 8.34375 23.425782 18.710938 3.371093 10.367187.253906 21.738281-7.957032 28.90625l-111.703125 97.941406 32.9375 145.085938c2.414063 10.667968-1.726562 21.699218-10.578125 28.097656-8.832031 6.398437-20.609375 6.890625-29.910156 1.300781l-127.445312-76.160156-127.445313 76.203125c-4.308594 2.558594-9.109375 3.863281-13.953125 3.863281zm141.398438-112.875c4.84375 0 9.640624 1.300781 13.953124 3.859375l120.277344 71.9375-31.085937-136.941406c-2.21875-9.746094 1.089843-19.921875 8.621093-26.515625l105.472657-92.5-139.542969-12.671875c-10.046875-.917969-18.6875-7.234375-22.613281-16.492188l-55.082031-129.046875-55.148438 129.066407c-3.882812 9.195312-12.523438 15.511718-22.546875 16.429687l-139.5625 12.671875 105.46875 92.5c7.554687 6.613281 10.859375 16.769531 8.621094 26.539062l-31.0625 136.9375 120.277343-71.914062c4.308594-2.558594 9.109376-3.859375 13.953126-3.859375zm-84.585938-221.847656s0 .023437-.023438.042969zm169.128906-.0625.023438.042969c0-.023438 0-.023438-.023438-.042969zm0 0" />
    </symbol>
</svg>

<partial name="_AyahOptions" />