<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="qDC4j0eyF9t43pzXssRaWlBWkyLwKpu0EwlRo1dSn08" />
    <title>@ViewBag.Title - Diamond Quran</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="display:flex; flex-direction:column;">
    @*Fixed navbar*@
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <a class="my-0 mr-md-auto " href="~/Home/Main">
            <img src="~/Images/diamondquran.png" style="width:50px;" />
        </a>
        <nav class="my-2 my-md-0 mr-md-3" style="direction: rtl;">
            <a class="p-2 text-dark" href="~/Guide">دليل الاستخدام</a>
            <a class="p-2 text-dark" href="~/Account/Bookmarks">المفضلة</a>
            <a class="p-2 text-dark" href="~/LogicsSearch">البحث المنطقي</a>
            <a class="p-2 text-dark" href="~/Main">البحث</a>
        </nav>
        @if (User.Identity.IsAuthenticated)
        {
            <button type="button" class="btn btn-outline-primary" data-toggle='popover' data-placement="bottom" data-html="true" data-content='<div class="card"><article class="card-body"><form action="/Home/LogOff" class="form-horizontal" method="post" role="form">@(Html.AntiForgeryToken())<button type="submit" style="width:100%" class="float-right btn btn-outline-primary">تسجيل الخروج</from></button></article></div>'>@(User.Identity.Name)</button>
            @*<button type="button" class="btn btn-outline-primary" data-toggle='popover' data-placement="bottom" data-html="true" data-content='<div class="card"><article class="card-body"><a href="" class="float-right btn btn-outline-primary">Sign up</a><h4 class="card-title mb-4 mt-1">Sign in</h4><p><a href="" class="btn btn-block btn-outline-info"> <i class="fab fa-twitter"></i>   Login via Twitter</a><a href="" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i>   Login via facebook</a></p><hr><form><div class="form-group"><input name="" class="form-control" placeholder="Email or login" type="email"></div> <div class="form-group"><input class="form-control" placeholder="******" type="password"></div> <div class="row"><div class="col-md-6"><div class="form-group"><button type="submit" class="btn btn-primary btn-block"> Login  </button></div> </div><div class="col-md-6 text-right"><a class="small" href="#">Forgot password?</a></div></div> </form></article></div>'></button>*@
        }
        else
        {
            <a class="btn btn-outline-primary" href="~/Account/Login?returnUrl=@(Request.Url.AbsoluteUri)">تسجيل الدخول</a>
        }
    </header>

    <main id="main" role="main" class="container">
        @RenderBody()
    </main>

    <footer id="footer">
        <div class="container">
            <span wfd-id="1"></span>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/shared")
    @RenderSection("scripts", required: false)
</body>
</html>
